*.iml
*.ipr
*.iws
.idea/
.gradle/
build/
captures/
local.properties
.DS_Store
.cxx/
*.apk
*.aar
*.keystore
*.jks

# Android Studio local configuration
~/AndroidStudio*
.navigation/

# Log files
*.log

# Android Studio 3.6+ configurations
.androidide/
keystore.properties
*.jks
